In [1]:
# Q1.create one variable containing following type of data:
string = 'sudh'

In [2]:
type(string)

str

In [3]:
l = [1,2,3,4,True,'sudh',5+7j,4.5]

In [6]:
type(l)

list

In [4]:
float=4.5

In [5]:
type(float)

float

In [7]:
t = (1,2,True,'sudh',3.4,5+6j)

In [8]:
type(t)

tuple

In [23]:
"""Q2. Given are some following variables containing data:"""

'Q2. Given are some following variables containing data:'

In [11]:
var1 = 'sudh'

In [12]:
var1

'sudh'

In [13]:
var2 = '[DS,ML,Python]'  #string value

In [14]:
var2

'[DS,ML,Python]'

In [16]:
var3 = [‘DS’,’ML’,‘Python’]

SyntaxError: invalid character '‘' (U+2018) (2328497959.py, line 1)

In [17]:
var4 = 1.

In [18]:
var4

1.0

In [19]:
'''What will be the data type of the above given variable.'''

'What will be the data type of the above given variable.'

In [ ]:
#3. 
/ = division operator
% = modulo operator
// = floor division
** = power operator

In [22]:
'''Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.'''

'Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the\nelement and its data type.'

In [24]:
l = [1,2,3,'sudh',True,5+7j,3.4,False,bool,'Sudh']

In [27]:
for i in l :
    print(l)

[1, 2, 3, 'sudh', True, (5+7j), 3.4, False, <class 'bool'>, 'Sudh']
[1, 2, 3, 'sudh', True, (5+7j), 3.4, False, <class 'bool'>, 'Sudh']
[1, 2, 3, 'sudh', True, (5+7j), 3.4, False, <class 'bool'>, 'Sudh']
[1, 2, 3, 'sudh', True, (5+7j), 3.4, False, <class 'bool'>, 'Sudh']
[1, 2, 3, 'sudh', True, (5+7j), 3.4, False, <class 'bool'>, 'Sudh']
[1, 2, 3, 'sudh', True, (5+7j), 3.4, False, <class 'bool'>, 'Sudh']
[1, 2, 3, 'sudh', True, (5+7j), 3.4, False, <class 'bool'>, 'Sudh']
[1, 2, 3, 'sudh', True, (5+7j), 3.4, False, <class 'bool'>, 'Sudh']
[1, 2, 3, 'sudh', True, (5+7j), 3.4, False, <class 'bool'>, 'Sudh']
[1, 2, 3, 'sudh', True, (5+7j), 3.4, False, <class 'bool'>, 'Sudh']

In [28]:
"""Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible."""

'Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many\ntimes it can be divisible.'

In [ ]:
a=int(input())
b=int(input())
   while(1) :
if (a/b==0) :
 
        print("a is diviable by b")
else :
    print("a is not diviable by b")

In [29]:
"""Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not."""

'Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is\ndivisible by 3 or not.'

In [30]:
l1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [33]:
for i in l1 :
    if (i%3 == 0) :
        print(i)
    else :
        print ("not divisible")

not divisible
not divisible
3
not divisible
not divisible
6
not divisible
not divisible
9
not divisible
not divisible
12
not divisible
not divisible
15
not divisible
not divisible
18
not divisible
not divisible
21
not divisible
not divisible
24
not divisible

In [34]:
"""Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property."""

'Q7. What do you understand about mutable and immutable data types? Give examples for both showing\nthis property.'

In [35]:
l2 = [1,2,3,4,5,'sudh','yadav']

In [36]:
l2[5]

'sudh'

In [37]:
l2[5]='a'

In [38]:
l2

[1, 2, 3, 4, 5, 'a', 'yadav']

In [ ]:
# list is a mutable object

In [39]:
s='sudhanshu'

In [40]:
s[0]

's'

In [41]:
s[0] = 'a'

TypeError: 'str' object does not support item assignment

In [ ]:
# string is immutable